@functions{
    string DrawDirectionIcon(bool theValue)
    {
        return (theValue) ? "<i class=\"fas fa-lg fa-angle-double-left\"></i>" : "<i class=\"fas fa-lg fa-angle-double-right\"></i>";
    }
}

<style>
    .btn-sq-sm {
      width: 50px;
      height: 50px;
      margin: 0px;
      padding: inherit;
      margin-top: 2px;
    }

    table.table td.td-btn-clear {
        padding: 0px;
    }

    .divert-rotate-45 {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
    transform: rotate(45deg);
    }

    .divert-rotate-315 {
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        -ms-transform: rotate(315deg);
        -o-transform: rotate(315deg);
    transform: rotate(315deg);
    }

    .btn-smema-blocked, btn-smema-blocked:focus, btn-smema-blocked:hover, btn-smema-blocked:active, btn-smema-blocked:visited{
        background-color: #d92638 !important;
        color: white !important;
    }

    .btn-smema-unblocked, btn-smema-unblocked:focus, btn-smema-unblocked:hover, btn-smema-unblocked:active, btn-smema-unblocked:visited{
        background-color: green !important;
        color: white !important;
    }

    .btn-smema-diverted, btn-smema-diverted:focus, btn-smema-diverted:hover, btn-smema-diverted:active, btn-smema-diverted:visited{
        background-color: yellow !important;
    }

    .btn-smema-outline-dark{
        border: 1px solid #212121!important;
        margin-left: 1px !important;
        margin-right: 1px !important;
        margin-top: 5px !important;
    }

</style>

<div class="container" id="container1">

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <nav>
                <h5>Direction: @Raw(DrawDirectionIcon(Model.Extension.Model.RightToLeft))</h5>
            </nav>
            <hr>
        </div>
    </div>

    <div class="row">
        @if(Model.Extension.Model.RightToLeft)
    {
        @Include("MultiPlug.Ext.SMEMA.SMEMA_Monitor_Downline_Column")
        }
        else
        {
            @Include("MultiPlug.Ext.SMEMA.SMEMA_Monitor_Upline_Column")
        }

        @Include("MultiPlug.Ext.SMEMA.SMEMA_Monitor_Interlock_Column")

        @if(Model.Extension.Model.RightToLeft)
    {
        @Include("MultiPlug.Ext.SMEMA.SMEMA_Monitor_Upline_Column")

        }
        else
        {
            @Include("MultiPlug.Ext.SMEMA.SMEMA_Monitor_Downline_Column")
        }
    </div>
</div>