@functions{

    string IsSMEMAStateHigh(bool theValue)
    {
        return (theValue) ? "<i class=\"fas fa-lg fa-check\"></i>" : "<i class=\"fas fa-lg fa-times\"></i>";
    }

    string IsSMEMAInterlock(bool theValue)
    {
        return (theValue) ? "<i class=\"fas fa-lg fa-check\"></i>" : "<i class=\"fas fa-lg fa-times\"></i>";
    }

    string IsSMEMAInterlockArrowLeft(bool theValue)
    {
        return (theValue) ? "<i class=\"fas fa-lg fa-arrow-left\"></i>" : "<i class=\"fas fa-lg fa-times\"></i>";
    }

    string IsSMEMAInterlockArrowRight(bool theValue)
    {
        return (theValue) ? "<i class=\"fas fa-lg fa-arrow-right\"></i>" : "<i class=\"fas fa-lg fa-times\"></i>";
    }

    string IsSMEMAInterlockLatched(bool theValue)
    {
        return (theValue) ? "<i class=\"fas fa-lg fa-lock\"></i>" : "<i class=\"fas fa-lg fa-lock-open\"></i>";
    }
}

<div class="container" id="container1">

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <nav class="nav">
                <a class="nav-link active" href="@Raw(Model.Context.Paths.Current)">SMEMA I/O</a>
            </nav>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <!--accordion class/id must be unique-->
            <div class="accordion upline-smemaio smemaio">
                <div class="card">
                    <a role="button"
                       data-toggle="collapse"
                       href="#collapse-1"
                       aria-expanded="true"
                       aria-controls="collapse-1">
                        <div class="card-header secondary-header" id="heading-1-1">
                            <h5 class="mb-0" style="display: inline">
                                Upline
                            </h5>
                        </div>
                    </a>
                    <!--data-parent must match unique accordion class/id-->
                    <div id="collapse-1" class="collapse show" data-parent=".upline-smemaio" aria-labelledby="heading-1-1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td class="col-lg-9">Machine Ready</td>
                                                <td class="col-lg-3 text-center" id="SMEMAUplineMachineReadyState">@Raw(IsSMEMAStateHigh(Model.Extension.Model.SMEMABoardAvailableStates.MachineReady))</td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-9">Good Board</td>
                                                <td class="col-lg-3 text-center" id="SMEMAUplineGoodBoardState">@Raw(IsSMEMAStateHigh(Model.Extension.Model.SMEMABoardAvailableStates.GoodBoard))</td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-9">Bad Board</td>
                                                <td class="col-lg-3 text-center" id="SMEMAUplineBadBoardState">@Raw(IsSMEMAStateHigh(Model.Extension.Model.SMEMABoardAvailableStates.BadBoard))</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <!--accordion class/id must be unique-->
            <div class="accordion interlock-smemaio interlock">
                <div class="card">
                    <a role="button"
                       data-toggle="collapse"
                       href="#collapse-2"
                       aria-expanded="true"
                       aria-controls="collapse-2">
                        <div class="card-header secondary-header" id="heading-2-1">
                            <h5 class="mb-0" style="display: inline">
                                Interlock
                            </h5>
                        </div>
                    </a>
                    <!--data-parent must match unique accordion class/id-->
                    <div id="collapse-2" class="collapse show" data-parent=".interlock-smemaio" aria-labelledby="heading-2-1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td class="col-lg-6">Machine Ready</td>
                                                <td class="col-lg-3 text-center" id="SMEMAInterlockMachineReadyLatchState">@Raw(IsSMEMAInterlockLatched(Model.Extension.Model.SMEMAInterlockLatchedStates.MachineReady))</td>
                                                <td class="col-lg-3 text-center" id="SMEMAInterlockMachineReadyState">@Raw(IsSMEMAInterlockArrowLeft(Model.Extension.Model.SMEMAInterlockStates.MachineReady))</td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-6">Good Board</td>
                                                <td class="col-lg-3 text-center" id="SMEMAInterlockGoodBoardLatchState">@Raw(IsSMEMAInterlockLatched(Model.Extension.Model.SMEMAInterlockLatchedStates.GoodBoard))</td>
                                                <td class="col-lg-3 text-center" id="SMEMAInterlockGoodBoardState">@Raw(IsSMEMAInterlockArrowRight(Model.Extension.Model.SMEMAInterlockStates.GoodBoard))</td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-6">Bad Board</td>
                                                <td class="col-lg-3 text-center" id="SMEMAInterlockBadBoardLatchState">@Raw(IsSMEMAInterlockLatched(Model.Extension.Model.SMEMAInterlockLatchedStates.BadBoard))</td>
                                                <td class="col-lg-3 text-center" id="SMEMAInterlockBadBoardState">@Raw(IsSMEMAInterlockArrowRight(Model.Extension.Model.SMEMAInterlockStates.BadBoard))</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="accordion downline-smemaio smemaio">
                <div class="card">
                    <a role="button"
                       data-toggle="collapse"
                       href="#collapse-3"
                       aria-expanded="true"
                       aria-controls="collapse-3">
                        <div class="card-header secondary-header" id="heading-3-1">
                            <h5 class="mb-0" style="display: inline">
                                Downline
                            </h5>
                        </div>
                    </a>
                    <div id="collapse-3" class="collapse show" data-parent=".downline-smemaio" aria-labelledby="heading-3-1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td class="col-lg-9">Machine Ready</td>
                                                <td class="col-lg-3 text-center" id="SMEMADownlineMachineReadyState">@Raw(IsSMEMAStateHigh(Model.Extension.Model.SMEMAMachineReadyStates.MachineReady))</td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-9">Good Board</td>
                                                <td class="col-lg-3 text-center" id="SMEMADownlineGoodBoardState">@Raw(IsSMEMAStateHigh(Model.Extension.Model.SMEMAMachineReadyStates.GoodBoard))</td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-9">Bad Board</td>
                                                <td class="col-lg-3 text-center" id="SMEMADownlineBadBoardState">@Raw(IsSMEMAStateHigh(Model.Extension.Model.SMEMAMachineReadyStates.BadBoard))</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>