@model MultiPlug.Base.Http.EdgeApp

@functions
{
    string isConnected(bool theValue)
    {
        return (theValue) ? "<i class=\"icon-ok icon-large\"></i>" : "<i class=\"icon-remove icon-large\"></i>";
    }
}

<form action="" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="Guid" value="@Model.Extension.Model.Guid">
    <section class="row-fluid">

        <div class="row-fluid">
            <div class="box">
                <div class="span2">
                    <a style="line-height: 52px;" href="@Raw(Model.Context.Paths.Home)"><img alt="SMEMA Logo" src="@Raw(Model.Context.Paths.Assets)images/Smema-small.png"></a>
                </div>
                <div class="span8">
                    <p style="font-size:26px; line-height: 54px; text-align: center; margin: 0px;">Interlock</p>
                </div>
                <div class="span2" style="text-align: right;">
                    <button type="submit" value="submit" style="height:54px; width:65px" class="item btn btn-green"><i class="icon-save icon-large"></i><p>Save</p></button>
                </div>
            </div>
        </div>

        @Include("MultiPlug.Ext.SMEMA.SMEMA_Settings_Navigation")

        <h3 class="box-header">Events and Subscriptions</h3>
        <div class="box">

            <h4>Interlock Subscription</h4>
            <div class="row-fluid">
                <div class="well">
                    <div class="row-fluid">

                        <div class="span4">
                            <div class="row-fluid"><div class="span12">Subscription ID</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="InterlockSubscriptionId" class="input-block-level mp-event-picker" type="text" value="@Model.Extension.Model.Properties.InterlockSubscription.Id" />
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Subscription Subject Index</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="InterlockSubscriptionSubjectIndex" class="span12" type="text" value="@Model.Extension.Model.Properties.InterlockSubscription.Subjects[0]">
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="row-fluid"><div class="span12">OKay Value</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="InterlockSubscriptionReadyValue" class="span12" type="text" value="@Model.Extension.Model.Properties.InterlockSubscription.Value">
                                </div>
                            </div>
                        </div>
                        <div class="span1">
                            <div class="row-fluid"><div class="span12">Connected</div></div>
                            <div class="row-fluid">
                                <div class="span2">
                                    @Raw(isConnected(Model.Extension.Model.Properties.InterlockSubscription.Connected))
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</form>