@model MultiPlug.Base.Http.EdgeApp

@functions
{
    string isConnected(bool theValue)
    {
        return (theValue) ? "<i class=\"icon-ok icon-large\"></i>" : "<i class=\"icon-remove icon-large\"></i>";
    }
    string isEnabled(bool theValue)
    {
        return (theValue) ? "checked" : string.Empty;
    }
    string isEnabled(bool? theValue)
    {
        return (theValue.Value) ? "checked" : string.Empty;
    }
    string isChecked(int theValue1, int theValue2)
    {
        return (theValue1 == theValue2) ? "checked" : string.Empty;
    }
}

<form action="" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="Guid" value="@Model.Extension.Model.Guid">
    <section class="row-fluid">

        <div class="row-fluid">
            <div class="box">
                <div class="span2">
                    <a style="line-height: 52px;" href="@Raw(Model.Context.Paths.Home)"><img alt="SMEMA Logo" src="@Raw(Model.Context.Paths.Assets)images/Smema-small.png"></a>
                </div>
                <div class="span8">
                    <p style="font-size:26px; line-height: 54px; text-align: center; margin: 0px;">Interlock</p>
                </div>
                <div class="span2" style="text-align: right;">
                    <button type="submit" value="submit" style="height:54px; width:65px" class="item btn btn-green"><i class="icon-save icon-large"></i><p>Save</p></button>
                </div>
            </div>
        </div>

        @Include("MultiPlug.Ext.SMEMA.SMEMA_Settings_Navigation")

        <h3 class="box-header">Setup</h3>
        <div class="box">

            <h4>Startup State</h4>
            <div class="row-fluid">
                <div class="well">
                    <div class="row-fluid">

                        <div class="span3">
                            <div class="row-fluid"><div class="span12"><h5>Machine Ready</h5></div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <label class="radio">
                                        <input type="radio" name="StartupMachineReady" value="0" @isChecked(0, Model.Extension.Model.Properties.StartupMachineReady)>
                                        Blocked
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="StartupMachineReady" value="1" @isChecked(1, Model.Extension.Model.Properties.StartupMachineReady)>
                                        Blocked and Latched
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="StartupMachineReady" value="2" @isChecked(2, Model.Extension.Model.Properties.StartupMachineReady)>
                                        Unblocked and Latched
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="StartupMachineReady" value="3" @isChecked(3, Model.Extension.Model.Properties.StartupMachineReady)>
                                        Shutdown State
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12"><h5>Good Board</h5></div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <label class="radio">
                                        <input type="radio" name="StartupGoodBoard" value="0" @isChecked(0, Model.Extension.Model.Properties.StartupGoodBoard)>
                                        Blocked
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="StartupGoodBoard" value="1" @isChecked(1, Model.Extension.Model.Properties.StartupGoodBoard)>
                                        Blocked and Latched
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="StartupGoodBoard" value="2" @isChecked(2, Model.Extension.Model.Properties.StartupGoodBoard)>
                                        Unblocked and Latched
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="StartupGoodBoard" value="3" @isChecked(3, Model.Extension.Model.Properties.StartupGoodBoard)>
                                        Shutdown State
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12"><h5>Bad Board</h5></div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <label class="radio">
                                        <input type="radio" name="StartupBadBoard" value="0" @isChecked(0, Model.Extension.Model.Properties.StartupBadBoard)>
                                        Blocked
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="StartupBadBoard" value="1" @isChecked(1, Model.Extension.Model.Properties.StartupBadBoard)>
                                        Blocked and Latched
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="StartupBadBoard" value="2" @isChecked(2, Model.Extension.Model.Properties.StartupBadBoard)>
                                        Unblocked and Latched
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="StartupBadBoard" value="3" @isChecked(3, Model.Extension.Model.Properties.StartupBadBoard)>
                                        Shutdown State
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12"><h5>Flip Board</h5></div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <label class="radio">
                                        <input type="radio" name="StartupFlipBoard" value="0" @isChecked(0, Model.Extension.Model.Properties.StartupFlipBoard)>
                                        Blocked
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="StartupFlipBoard" value="1" @isChecked(1, Model.Extension.Model.Properties.StartupFlipBoard)>
                                        Blocked and Latched
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="StartupFlipBoard" value="2" @isChecked(2, Model.Extension.Model.Properties.StartupFlipBoard)>
                                        Unblocked and Latched
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="StartupFlipBoard" value="3" @isChecked(3, Model.Extension.Model.Properties.StartupFlipBoard)>
                                        Shutdown State
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <h4>Permissions</h4>
            <div class="row-fluid">
                <div class="well">
                    <div class="row-fluid">

                        <div class="span12">
                            <div class="row-fluid"><div class="span12"><h5>Enabled Interfaces</h5></div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <label class="checkbox inline">
                                        <input name="PermissionInterfaceUI" id="InterfaceUICheckbox" type="checkbox" value="true" @Raw(isEnabled(Model.Extension.Model.Properties.PermissionInterfaceUI))> User Interface
                                    </label>
                                    <label class="checkbox inline">
                                        <input name="PermissionInterfaceREST" id="InterfaceRESTCheckbox" type="checkbox" value="true" @Raw(isEnabled(Model.Extension.Model.Properties.PermissionInterfaceREST))> REST API
                                    </label>
                                    <label class="checkbox inline">
                                        <input name="PermissionInterfaceSubscriptions" type="checkbox" value="true" @Raw(isEnabled(Model.Extension.Model.Properties.PermissionInterfaceSubscriptions))> MultiPlug Subscriptions
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h4>Triggers</h4>
            <div class="row-fluid">
                <div class="well">
                    <div class="row-fluid">
                        <div class="row-fluid">
                            <label class="checkbox inline">
                                <input name="TriggerBlockGoodBoardOnMachineNotReady" type="checkbox" value="true" @Raw(isEnabled(Model.Extension.Model.Properties.TriggerBlockGoodBoardOnMachineNotReady))> Block Good Board when SMEMA Machine NOT Ready
                            </label>
                        </div>
                        <div class="row-fluid">
                            <label class="checkbox inline">
                                <input name="TriggerBlockBadBoardOnMachineNotReady" type="checkbox" value="true" @Raw(isEnabled(Model.Extension.Model.Properties.TriggerBlockBadBoardOnMachineNotReady))> Block Bad Board when SMEMA Machine NOT Ready
                            </label>
                        </div>
                        <div class="row-fluid">
                            <label class="checkbox inline">
                                <input name="TriggerBlockFlipBoardOnMachineNotReady" type="checkbox" value="true" @Raw(isEnabled(Model.Extension.Model.Properties.TriggerBlockFlipBoardOnMachineNotReady))> Block Flip Board when SMEMA Machine NOT Ready
                            </label>
                        </div>
                        <div class="row-fluid">
                            <label class="checkbox inline">
                                <input name="TriggerBlockFlipBoardOnGoodBoardNotAvailable" type="checkbox" value="true" @Raw(isEnabled(Model.Extension.Model.Properties.TriggerBlockFlipBoardOnGoodBoardNotAvailable))> Block Flip Board when SMEMA Good Board NOT Available
                            </label>
                        </div>
                        <div class="row-fluid">
                            <label class="checkbox inline">
                                <input name="TriggerBlockFlipBoardOnBadBoardNotAvailable" type="checkbox" value="true" @Raw(isEnabled(Model.Extension.Model.Properties.TriggerBlockFlipBoardOnBadBoardNotAvailable))> Block Flip Board when SMEMA Bad Board NOT Available
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <h4>Transition Delays</h4>
            <div class="row-fluid">
                <div class="well">
                    <div class="row-fluid">
                        <div class="row-fluid">
                            <input name="DelayGoodBoardUnblockedThenSMEMA" class="span2" type="number" value="@Model.Extension.Model.Properties.DelayGoodBoardUnblockedThenSMEMA" min="0" max="10000">
                            <span class="help-inline">Delay between Good Board Unblocked and SMEMA Good Board Ready [milliseconds]</span>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="row-fluid">
                            <input name="DelayGoodBoardDivertUnblockedThenSMEMA" class="span2" type="number" value="@Model.Extension.Model.Properties.DelayGoodBoardDivertUnblockedThenSMEMA" min="0" max="10000">
                            <span class="help-inline">Delay between Good Board Divert Unblocked and SMEMA Bad Board Ready [milliseconds]</span>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="row-fluid">
                            <input name="DelayBadBoardUnblockedThenSMEMA" class="span2" type="number" value="@Model.Extension.Model.Properties.DelayBadBoardUnblockedThenSMEMA" min="0" max="10000">
                            <span class="help-inline">Delay between Bad Board Unblocked and SMEMA Bad Board Ready [milliseconds]</span>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="row-fluid">
                            <input name="DelayBadBoardDivertUnblockedThenSMEMA" class="span2" type="number" value="@Model.Extension.Model.Properties.DelayBadBoardDivertUnblockedThenSMEMA" min="0" max="10000">
                            <span class="help-inline">Delay between Bad Board Divert Unblocked and SMEMA Good Board Ready [milliseconds]</span>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="row-fluid">
                            <input name="DelayMachineReadyUnblockedThenSMEMA" class="span2" type="number" value="@Model.Extension.Model.Properties.DelayMachineReadyUnblockedThenSMEMA" min="0" max="10000">
                            <span class="help-inline">Delay between Machine Ready Unblocked and SMEMA Machine Ready [milliseconds]</span>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="row-fluid">
                            <input name="DelayFlipUnblockedThenSMEMA" class="span2" type="number" value="@Model.Extension.Model.Properties.DelayFlipUnblockedThenSMEMA" min="0" max="10000">
                            <span class="help-inline">Delay between Flip Unblocked and SMEMA Flip [milliseconds]</span>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="row-fluid">
                            <input name="DelayFlipThenBoardAvailable" class="span2" type="number" value="@Model.Extension.Model.Properties.DelayFlipThenBoardAvailable" min="0" max="3000">
                            <span class="help-inline">Delay between Flip Unblocked and Good or Bad Board Available Unblock [milliseconds]</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <h3 class="box-header">Subscriptions</h3>
        <div class="box">

            <h4>Machine Ready Interlock Control</h4>
            <div class="row-fluid">
                <div class="well">
                    <div class="row-fluid">

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Subscription ID</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="MachineReadyInterlockSubscriptionId" autocomplete="off" class="input-block-level mp-event-picker" type="text" value="@Model.Extension.Model.Properties.MachineReadyInterlockSubscription.Id" />
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Block</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="MachineReadyInterlockSubscriptionBlock" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.MachineReadyInterlockSubscription.Block">
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Unlock</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="MachineReadyInterlockSubscriptionUnblock" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.MachineReadyInterlockSubscription.Unblock">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Connected</div></div>
                            <div class="row-fluid">
                                <div class="span2">
                                    @Raw(isConnected(Model.Extension.Model.Properties.MachineReadyInterlockSubscription.Connected))
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Latch On</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="MachineReadyInterlockSubscriptionLatchOn" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.MachineReadyInterlockSubscription.LatchOn">
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Latch Off</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="MachineReadyInterlockSubscriptionLatchOff" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.MachineReadyInterlockSubscription.LatchOff">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <h4>Good Board Interlock Control</h4>
            <div class="row-fluid">
                <div class="well">
                    <div class="row-fluid">

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Subscription ID</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="GoodBoardInterlockSubscriptionId" autocomplete="off" class="input-block-level mp-event-picker" type="text" value="@Model.Extension.Model.Properties.GoodBoardInterlockSubscription.Id" />
                                </div>
                            </div>
                        </div>


                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Block</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="GoodBoardInterlockSubscriptionBlock" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.GoodBoardInterlockSubscription.Block">
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Unblock</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="GoodBoardInterlockSubscriptionUnblock" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.GoodBoardInterlockSubscription.Unblock">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Connected</div></div>
                            <div class="row-fluid">
                                <div class="span2">
                                    @Raw(isConnected(Model.Extension.Model.Properties.GoodBoardInterlockSubscription.Connected))
                                </div>
                            </div>
                        </div>


                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Latch On</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="GoodBoardInterlockSubscriptionLatchOn" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.GoodBoardInterlockSubscription.LatchOn">
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Latch Off</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="GoodBoardInterlockSubscriptionLatchOff" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.GoodBoardInterlockSubscription.LatchOff">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">

                        <div class="span3">
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Divert On (Bad)</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="GoodBoardInterlockSubscriptionDivertOn" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.GoodBoardInterlockSubscription.DivertOn">
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Divert Off (Good)</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="GoodBoardInterlockSubscriptionDivertOff" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.GoodBoardInterlockSubscription.DivertOff">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row-fluid">

                        <div class="span3">
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Divert Latch On</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="GoodBoardInterlockSubscriptionDivertLatchOn" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.GoodBoardInterlockSubscription.DivertLatchOn">
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Divert Latch Off</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="GoodBoardInterlockSubscriptionDivertLatchOff" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.GoodBoardInterlockSubscription.DivertLatchOff">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">

                        <div class="span3">
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Unblock and Flip On</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="GoodBoardInterlockSubscriptionUnblockFlipOn" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.GoodBoardInterlockSubscription.UnblockFlipOn">
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Block and Flip Off</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="GoodBoardInterlockSubscriptionBlockFlipOff" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.GoodBoardInterlockSubscription.BlockFlipOff">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">

                        <div class="span3">
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Divert On (Bad) and Flip On</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="GoodBoardInterlockSubscriptionDivertOnFlipOn" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.GoodBoardInterlockSubscription.DivertOnFlipOn">
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Divert Off (Good) and Flip Off</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="GoodBoardInterlockSubscriptionDivertOffFlipOff" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.GoodBoardInterlockSubscription.DivertOffFlipOff">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h4>Bad Board Interlock Control</h4>
            <div class="row-fluid">
                <div class="well">
                    <div class="row-fluid">

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Subscription ID</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="BadBoardInterlockSubscriptionId" autocomplete="off" class="input-block-level mp-event-picker" type="text" value="@Model.Extension.Model.Properties.BadBoardInterlockSubscription.Id" />
                                </div>
                            </div>
                        </div>


                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Block</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="BadBoardInterlockSubscriptionBlock" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.BadBoardInterlockSubscription.Block">
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Unblock</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="BadBoardInterlockSubscriptionUnblock" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.BadBoardInterlockSubscription.Unblock">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Connected</div></div>
                            <div class="row-fluid">
                                <div class="span2">
                                    @Raw(isConnected(Model.Extension.Model.Properties.BadBoardInterlockSubscription.Connected))
                                </div>
                            </div>
                        </div>


                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Latch On</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="BadBoardInterlockSubscriptionLatchOn" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.BadBoardInterlockSubscription.LatchOn">
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Latch Off</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="BadBoardInterlockSubscriptionLatchOff" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.BadBoardInterlockSubscription.LatchOff">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row-fluid">

                        <div class="span3">
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Divert On (Good)</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="BadBoardInterlockSubscriptionDivertOn" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.BadBoardInterlockSubscription.DivertOn">
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Divert Off (Bad)</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="BadBoardInterlockSubscriptionDivertOff" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.BadBoardInterlockSubscription.DivertOff">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row-fluid">

                        <div class="span3">
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Divert Latch On</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="BadBoardInterlockSubscriptionDivertLatchOn" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.BadBoardInterlockSubscription.DivertLatchOn">
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Divert Latch Off</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="BadBoardInterlockSubscriptionDivertLatchOff" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.BadBoardInterlockSubscription.DivertLatchOff">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">

                        <div class="span3">
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Unblock and Flip On</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="BadBoardInterlockSubscriptionUnblockFlipOn" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.BadBoardInterlockSubscription.UnblockFlipOn">
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Block and Flip Off</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="BadBoardInterlockSubscriptionBlockFlipOff" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.BadBoardInterlockSubscription.BlockFlipOff">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">

                        <div class="span3">
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Divert On (Good) and Flip On</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="BadBoardInterlockSubscriptionDivertOnFlipOn" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.BadBoardInterlockSubscription.DivertOnFlipOn">
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Divert Off (Bad) and Flip Off</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="BadBoardInterlockSubscriptionDivertOffFlipOff" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.BadBoardInterlockSubscription.DivertOffFlipOff">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h4>Flip Board Interlock Control</h4>
            <div class="row-fluid">
                <div class="well">
                    <div class="row-fluid">

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Subscription ID</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="FlipBoardInterlockSubscriptionId" autocomplete="off" class="input-block-level mp-event-picker" type="text" value="@Model.Extension.Model.Properties.FlipBoardInterlockSubscription.Id" />
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Block</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="FlipBoardInterlockSubscriptionBlock" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.FlipBoardInterlockSubscription.Block">
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Unlock</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="FlipBoardInterlockSubscriptionUnblock" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.FlipBoardInterlockSubscription.Unblock">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Connected</div></div>
                            <div class="row-fluid">
                                <div class="span2">
                                    @Raw(isConnected(Model.Extension.Model.Properties.FlipBoardInterlockSubscription.Connected))
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Latch On</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="FlipBoardInterlockSubscriptionLatchOn" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.FlipBoardInterlockSubscription.LatchOn">
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Latch Off</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="FlipBoardInterlockSubscriptionLatchOff" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.FlipBoardInterlockSubscription.LatchOff">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <h3 class="box-header">Events</h3>
        <div class="box">

            <h4>Machine Ready Block and Unblock</h4>
            <div class="row-fluid">
                <div class="well">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="row-fluid"><div class="span12">ID</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="MachineReadyBlockEventId" autocomplete="off" class="input-block-level" type="text" placeholder="Event ID" value="@Model.Extension.Model.Properties.MachineReadyBlockEvent.Id">
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <div class="span12">
                                <div class="row-fluid"><div class="span12">Description</div></div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <input name="MachineReadyBlockEventDescription" autocomplete="off" class="input-block-level" type="text" placeholder="Description" value="@Model.Extension.Model.Properties.MachineReadyBlockEvent.Description" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="span1">
                            <div class="row-fluid"><div class="span12">Blocked</div></div>
                            <div class="row-fluid">
                                <div class="span2">
                                    <input name="MachineReadyBlockEventBlockedEnabled" type="checkbox" @Raw(isEnabled(Model.Extension.Model.Properties.MachineReadyBlockEvent.BlockedEnabled))>
                                </div>
                            </div>
                        </div>

                        <div class="span1">
                            <div class="row-fluid"><div class="span12">Unblocked</div></div>
                            <div class="row-fluid">
                                <div class="span2">
                                    <input name="MachineReadyBlockEventUnblockedEnabled" type="checkbox" @Raw(isEnabled(Model.Extension.Model.Properties.MachineReadyBlockEvent.UnblockedEnabled))>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span4">
                            <div class="row-fluid"><div class="span12">Subject</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="MachineReadyBlockEventSubject" autocomplete="off" class="input-block-level" type="text" placeholder="Event ID" value="@Model.Extension.Model.Properties.MachineReadyBlockEvent.Subjects[0]">
                                </div>
                            </div>
                        </div>

                        <div class="span2">
                            <div class="span12">
                                <div class="row-fluid"><div class="span12">Unblocked Value</div></div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <input name="MachineReadyBlockEventUnblockedValue" autocomplete="off" class="input-block-level" type="text" placeholder="Description" value="@Model.Extension.Model.Properties.MachineReadyBlockEvent.UnblockedValue" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="span2">
                            <div class="row-fluid"><div class="span12">Delay (ms)</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="MachineReadyBlockEventUnblockedDelay" class="input-block-level" type="number" value="@Model.Extension.Model.Properties.MachineReadyBlockEvent.UnblockedDelay" min="0" max="10000">
                                </div>
                            </div>
                        </div>

                        <div class="span2">
                            <div class="row-fluid"><div class="span12">Blocked Value</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="MachineReadyBlockEventBlockedValue" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.MachineReadyBlockEvent.BlockedValue">
                                </div>
                            </div>
                        </div>

                        <div class="span2">
                            <div class="row-fluid"><div class="span12">Delay (ms)</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="MachineReadyBlockEventBlockedDelay" class="input-block-level" type="number" value="@Model.Extension.Model.Properties.MachineReadyBlockEvent.BlockedDelay" min="0" max="10000">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <h4>Good Board Block and Unblock</h4>
            <div class="row-fluid">
                <div class="well">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="row-fluid"><div class="span12">ID</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="GoodBoardBlockEventId" autocomplete="off" class="input-block-level" type="text" placeholder="Event ID" value="@Model.Extension.Model.Properties.GoodBoardBlockEvent.Id">
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <div class="span12">
                                <div class="row-fluid"><div class="span12">Description</div></div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <input name="GoodBoardBlockEventDescription" autocomplete="off" class="input-block-level" type="text" placeholder="Description" value="@Model.Extension.Model.Properties.GoodBoardBlockEvent.Description" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="span1">
                            <div class="row-fluid"><div class="span12">Blocked</div></div>
                            <div class="row-fluid">
                                <div class="span2">
                                    <input name="GoodBoardBlockEventBlockedEnabled" type="checkbox" @Raw(isEnabled(Model.Extension.Model.Properties.GoodBoardBlockEvent.BlockedEnabled))>
                                </div>
                            </div>
                        </div>

                        <div class="span1">
                            <div class="row-fluid"><div class="span12">Unblocked</div></div>
                            <div class="row-fluid">
                                <div class="span2">
                                    <input name="GoodBoardBlockEventUnblockedEnabled" type="checkbox" @Raw(isEnabled(Model.Extension.Model.Properties.GoodBoardBlockEvent.UnblockedEnabled))>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span4">
                            <div class="row-fluid"><div class="span12">Subject</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="GoodBoardBlockEventSubject" autocomplete="off" class="input-block-level" type="text" placeholder="Event ID" value="@Model.Extension.Model.Properties.GoodBoardBlockEvent.Subjects[0]">
                                </div>
                            </div>
                        </div>

                        <div class="span2">
                            <div class="span12">
                                <div class="row-fluid"><div class="span12">Unblocked Value</div></div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <input name="GoodBoardBlockEventUnblockedValue" autocomplete="off" class="input-block-level" type="text" placeholder="Description" value="@Model.Extension.Model.Properties.GoodBoardBlockEvent.UnblockedValue" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="span2">
                            <div class="row-fluid"><div class="span12">Delay (ms)</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="GoodBoardBlockEventUnblockedDelay" class="input-block-level" type="number" value="@Model.Extension.Model.Properties.GoodBoardBlockEvent.UnblockedDelay" min="0" max="10000">
                                </div>
                            </div>
                        </div>

                        <div class="span2">
                            <div class="row-fluid"><div class="span12">Blocked Value</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="GoodBoardBlockEventBlockedValue" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.GoodBoardBlockEvent.BlockedValue">
                                </div>
                            </div>
                        </div>

                        <div class="span2">
                            <div class="row-fluid"><div class="span12">Delay (ms)</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="GoodBoardBlockEventBlockedDelay" class="input-block-level" type="number" value="@Model.Extension.Model.Properties.GoodBoardBlockEvent.BlockedDelay" min="0" max="10000">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <h4>Bad Board Block and Unblock</h4>
            <div class="row-fluid">
                <div class="well">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="row-fluid"><div class="span12">ID</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="BadBoardBlockEventId" autocomplete="off" class="input-block-level" type="text" placeholder="Event ID" value="@Model.Extension.Model.Properties.BadBoardBlockEvent.Id">
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <div class="span12">
                                <div class="row-fluid"><div class="span12">Description</div></div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <input name="BadBoardBlockEventDescription" autocomplete="off" class="input-block-level" type="text" placeholder="Description" value="@Model.Extension.Model.Properties.BadBoardBlockEvent.Description" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="span1">
                            <div class="row-fluid"><div class="span12">Blocked</div></div>
                            <div class="row-fluid">
                                <div class="span2">
                                    <input name="BadBoardBlockEventBlockedEnabled" type="checkbox" @Raw(isEnabled(Model.Extension.Model.Properties.BadBoardBlockEvent.BlockedEnabled))>
                                </div>
                            </div>
                        </div>

                        <div class="span1">
                            <div class="row-fluid"><div class="span12">Unblocked</div></div>
                            <div class="row-fluid">
                                <div class="span2">
                                    <input name="BadBoardBlockEventUnblockedEnabled" type="checkbox" @Raw(isEnabled(Model.Extension.Model.Properties.BadBoardBlockEvent.UnblockedEnabled))>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span4">
                            <div class="row-fluid"><div class="span12">Subject</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="BadBoardBlockEventSubject" autocomplete="off" class="input-block-level" type="text" placeholder="Event ID" value="@Model.Extension.Model.Properties.BadBoardBlockEvent.Subjects[0]">
                                </div>
                            </div>
                        </div>

                        <div class="span2">
                            <div class="span12">
                                <div class="row-fluid"><div class="span12">Unblocked Value</div></div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <input name="BadBoardBlockEventUnblockedValue" autocomplete="off" class="input-block-level" type="text" placeholder="Description" value="@Model.Extension.Model.Properties.BadBoardBlockEvent.UnblockedValue" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="span2">
                            <div class="row-fluid"><div class="span12">Delay (ms)</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="BadBoardBlockEventUnblockedDelay" class="input-block-level" type="number" value="@Model.Extension.Model.Properties.BadBoardBlockEvent.UnblockedDelay" min="0" max="10000">
                                </div>
                            </div>
                        </div>

                        <div class="span2">
                            <div class="row-fluid"><div class="span12">Blocked Value</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="BadBoardBlockEventBlockedValue" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.BadBoardBlockEvent.BlockedValue">
                                </div>
                            </div>
                        </div>

                        <div class="span2">
                            <div class="row-fluid"><div class="span12">Delay (ms)</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="BadBoardBlockEventBlockedDelay" class="input-block-level" type="number" value="@Model.Extension.Model.Properties.BadBoardBlockEvent.BlockedDelay" min="0" max="10000">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <h4>Flip Board Block and Unblock</h4>
            <div class="row-fluid">
                <div class="well">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="row-fluid"><div class="span12">ID</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="FlipBoardBlockEventId" autocomplete="off" class="input-block-level" type="text" placeholder="Event ID" value="@Model.Extension.Model.Properties.FlipBoardBlockEvent.Id">
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <div class="span12">
                                <div class="row-fluid"><div class="span12">Description</div></div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <input name="FlipBoardBlockEventDescription" autocomplete="off" class="input-block-level" type="text" placeholder="Description" value="@Model.Extension.Model.Properties.FlipBoardBlockEvent.Description" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="span1">
                            <div class="row-fluid"><div class="span12">Blocked</div></div>
                            <div class="row-fluid">
                                <div class="span2">
                                    <input name="FlipBoardBlockEventBlockedEnabled" type="checkbox" @Raw(isEnabled(Model.Extension.Model.Properties.FlipBoardBlockEvent.BlockedEnabled))>
                                </div>
                            </div>
                        </div>

                        <div class="span1">
                            <div class="row-fluid"><div class="span12">Unblocked</div></div>
                            <div class="row-fluid">
                                <div class="span2">
                                    <input name="FlipBoardBlockEventUnblockedEnabled" type="checkbox" @Raw(isEnabled(Model.Extension.Model.Properties.FlipBoardBlockEvent.UnblockedEnabled))>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span4">
                            <div class="row-fluid"><div class="span12">Subject</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="FlipBoardBlockEventSubject" autocomplete="off" class="input-block-level" type="text" placeholder="Event ID" value="@Model.Extension.Model.Properties.FlipBoardBlockEvent.Subjects[0]">
                                </div>
                            </div>
                        </div>

                        <div class="span2">
                            <div class="span12">
                                <div class="row-fluid"><div class="span12">Unblocked Value</div></div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <input name="FlipBoardBlockEventUnblockedValue" autocomplete="off" class="input-block-level" type="text" placeholder="Description" value="@Model.Extension.Model.Properties.FlipBoardBlockEvent.UnblockedValue" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="span2">
                            <div class="row-fluid"><div class="span12">Delay (ms)</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="FlipBoardBlockEventUnblockedDelay" class="input-block-level" type="number" value="@Model.Extension.Model.Properties.FlipBoardBlockEvent.UnblockedDelay" min="0" max="10000">
                                </div>
                            </div>
                        </div>

                        <div class="span2">
                            <div class="row-fluid"><div class="span12">Blocked Value</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="FlipBoardBlockEventBlockedValue" autocomplete="off" class="span12" type="text" value="@Model.Extension.Model.Properties.FlipBoardBlockEvent.BlockedValue">
                                </div>
                            </div>
                        </div>

                        <div class="span2">
                            <div class="row-fluid"><div class="span12">Delay (ms)</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="FlipBoardBlockEventBlockedDelay" class="input-block-level" type="number" value="@Model.Extension.Model.Properties.FlipBoardBlockEvent.BlockedDelay" min="0" max="10000">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
</form>

<script>
    var InterfaceUICheckbox = document.getElementById("InterfaceUICheckbox");
    InterfaceUICheckbox.onclick = function (event) {
        if (InterfaceUICheckbox.checked) {
            document.getElementById("InterfaceRESTCheckbox").checked = true;
        }
    }

    var InterfaceRESTCheckbox = document.getElementById("InterfaceRESTCheckbox");
    InterfaceRESTCheckbox.onclick = function (event) {
        if (!InterfaceRESTCheckbox.checked) {
            document.getElementById("InterfaceUICheckbox").checked = false;
        }
    }
</script>