@model MultiPlug.Base.Http.EdgeApp

@functions
{
    string isConnected(bool theValue)
    {
        return (theValue) ? "<i class=\"icon-ok icon-large\"></i>" : "<i class=\"icon-remove icon-large\"></i>";
    }
}

<form action="" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="Guid" value="@Model.Extension.Model.Guid">
    <section class="row-fluid">

        <div class="row-fluid">
            <div class="box">
                <div class="span2">
                    <a style="line-height: 52px;" href="@Raw(Model.Context.Paths.Home)"><img alt="SMEMA Logo" src="@Raw(Model.Context.Paths.Assets)images/Smema-small.png"></a>
                </div>
                <div class="span8">
                    <p style="font-size:26px; line-height: 54px; text-align: center; margin: 0px;">Upstream</p>
                </div>
                <div class="span2" style="text-align: right;">
                    <button type="submit" value="submit" style="height:54px; width:65px" class="item btn btn-green"><i class="icon-save icon-large"></i><p>Save</p></button>
                </div>
            </div>
        </div>

        @Include("MultiPlug.Ext.SMEMA.SMEMA_Settings_Navigation")

        <h3 class="box-header">Events and Subscriptions</h3>
        <div class="box">
            <h4>SMEMA Machine Ready to Receive Event</h4>
            <div class="row-fluid">
                <div class="well">
                    <div class="row-fluid">

                        <div class="span4">
                            <div class="row-fluid"><div class="span12">Event ID</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="SMEMAMachineReadyEventId" class="input-block-level" type="text" placeholder="Event ID" value="@Model.Extension.Model.Properties.SMEMAMachineReadyEvent.Id">
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <div class="span12">
                                <div class="row-fluid"><div class="span12">Event Description</div></div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <input name="SMEMAMachineReadyEventDescription" class="input-block-level" type="text" placeholder="Description" value="@Model.Extension.Model.Properties.SMEMAMachineReadyEvent.Description" />
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="span4">
                            <div class="row-fluid"><div class="span12">Event Subject</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="SMEMAMachineReadyEventSubject" class="span12" type="text" value="@Model.Extension.Model.Properties.SMEMAMachineReadyEvent.Subjects[0]">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4>SMEMA Good Board Available Subscription</h4>
            <div class="row-fluid">
                <div class="well">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="row-fluid"><div class="span12">Subscription ID</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="SMEMABoardAvailableSubscriptionId" class="input-block-level mp-event-picker" type="text" value="@Model.Extension.Model.Properties.SMEMABoardAvailableSubscription.Id" />
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <div class="row-fluid"><div class="span12">Subscription Subject Index</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="SMEMABoardAvailableSubscriptionSubjectIndex" class="span12" type="text" value="@Model.Extension.Model.Properties.SMEMABoardAvailableSubscription.Subjects[0]">
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <div class="row-fluid"><div class="span12">Connected</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    @Raw(isConnected(Model.Extension.Model.Properties.SMEMABoardAvailableSubscription.Connected))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h4>SMEMA Failed Board Available Subscription</h4>
            <div class="row-fluid">
                <div class="well">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="row-fluid"><div class="span12">Subscription ID</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="SMEMAFailedBoardAvailableSubscriptionId" class="input-block-level mp-event-picker" type="text" value="@Model.Extension.Model.Properties.SMEMAFailedBoardAvailableSubscription.Id" />
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <div class="row-fluid"><div class="span12">Subscription Subject Index</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="SMEMAFailedBoardAvailableSubscriptionSubjectIndex" class="span12" type="text" value="@Model.Extension.Model.Properties.SMEMAFailedBoardAvailableSubscription.Subjects[0]">
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <div class="row-fluid"><div class="span12">Connected</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    @Raw(isConnected(Model.Extension.Model.Properties.SMEMAFailedBoardAvailableSubscription.Connected))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>