@model MultiPlug.Base.Http.EdgeApp

@functions
{
    string isConnected(bool theValue)
    {
        return (theValue) ? "<i class=\"icon-ok icon-large\"></i>" : "<i class=\"icon-remove icon-large\"></i>";
    }
    string isEnabled(bool? theValue)
    {
        return (theValue.Value) ? "checked" : "";
    }
}

<form action="" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="Guid" value="@Model.Extension.Model.Guid">
    <section class="row-fluid">

        <div class="row-fluid">
            <div class="box">
                <div class="span2">
                    <a style="line-height: 52px;" href="@Raw(Model.Context.Paths.Home)"><img alt="SMEMA Logo" src="@Raw(Model.Context.Paths.Assets)images/Smema-small.png"></a>
                </div>
                <div class="span8">
                    <p style="font-size:26px; line-height: 54px; text-align: center; margin: 0px;">SMEMA Machine Ready</p>
                </div>
                <div class="span2" style="text-align: right;">
                    <button type="submit" value="submit" style="height:54px; width:65px" class="item btn btn-green"><i class="icon-save icon-large"></i><p>Save</p></button>
                </div>
            </div>
        </div>

        @Include("MultiPlug.Ext.SMEMA.SMEMA_Settings_Navigation")

        <h3 class="box-header">Subscriptions</h3>
        <div class="box">
            <h4>SMEMA Machine Ready</h4>
            <div class="row-fluid">
                <div class="well">
                    <div class="row-fluid">

                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Subscription ID</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="SMEMAMachineReadySubscriptionId" class="input-block-level mp-event-picker" type="text" value="@Model.Extension.Model.Properties.SMEMAMachineReadySubscription.Id" />
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Ready Value</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="SMEMAMachineReadySubscriptionReadyValue" class="span12" type="text" value="@Model.Extension.Model.Properties.SMEMAMachineReadySubscription.Value">
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Connected</div></div>
                            <div class="row-fluid">
                                <div class="span2">
                                    @Raw(isConnected(Model.Extension.Model.Properties.SMEMAMachineReadySubscription.Connected))
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="row-fluid"><div class="span12">Always Ready</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input type="checkbox" name="SMEMAMachineReadyAlways" value="true" @isEnabled(@Model.Extension.Model.Properties.SMEMAMachineReadyAlways)>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <h3 class="box-header">Events</h3>
        <div class="box">
                <h4>SMEMA Good Board Available</h4>
                <div class="row-fluid">
                    <div class="well">
                        <div class="row-fluid">

                            <div class="span4">
                                <div class="row-fluid"><div class="span12">Event ID</div></div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <input name="SMEMABoardAvailableEventId" class="input-block-level" type="text" placeholder="Event ID" value="@Model.Extension.Model.Properties.SMEMABoardAvailableEvent.Id">
                                    </div>
                                </div>
                            </div>

                            <div class="span4">
                                <div class="span12">
                                    <div class="row-fluid"><div class="span12">Event Description</div></div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <input name="SMEMABoardAvailableEventDescription" class="input-block-level" type="text" placeholder="Description" value="@Model.Extension.Model.Properties.SMEMABoardAvailableEvent.Description" />
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="span4">
                                <div class="row-fluid"><div class="span12">Event Subject</div></div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <input name="SMEMABoardAvailableEventSubject" class="span12" type="text" value="@Model.Extension.Model.Properties.SMEMABoardAvailableEvent.Subjects[0]">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h4>SMEMA Bad Board Available</h4>
                <div class="row-fluid">
                    <div class="well">
                        <div class="row-fluid">
                            <div class="span4">
                                <div class="row-fluid"><div class="span12">Event ID</div></div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <input name="SMEMAFailedBoardAvailableEventId" class="input-block-level" type="text" placeholder="Event ID" value="@Model.Extension.Model.Properties.SMEMAFailedBoardAvailableEvent.Id">
                                    </div>
                                </div>
                            </div>

                            <div class="span4">
                                <div class="span12">
                                    <div class="row-fluid"><div class="span12">Event Description</div></div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <input name="SMEMAFailedBoardAvailableEventDescription" class="input-block-level" type="text" placeholder="Description" value="@Model.Extension.Model.Properties.SMEMAFailedBoardAvailableEvent.Description" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="span4">
                                <div class="row-fluid"><div class="span12">Event Subject</div></div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <input name="SMEMAFailedBoardAvailableEventSubject" class="span12" type="text" value="@Model.Extension.Model.Properties.SMEMAFailedBoardAvailableEvent.Subjects[0]">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <h4>SMEMA Flip Board</h4>
            <div class="row-fluid">
                <div class="well">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="row-fluid"><div class="span12">Event ID</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="SMEMAFlipBoardEventId" class="input-block-level" type="text" placeholder="Event ID" value="@Model.Extension.Model.Properties.SMEMAFlipBoardEvent.Id">
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <div class="span12">
                                <div class="row-fluid"><div class="span12">Event Description</div></div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <input name="SMEMAFlipBoardEventDescription" class="input-block-level" type="text" placeholder="Description" value="@Model.Extension.Model.Properties.SMEMAFlipBoardEvent.Description" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <div class="row-fluid"><div class="span12">Event Subject</div></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input name="SMEMAFlipBoardEventSubject" class="span12" type="text" value="@Model.Extension.Model.Properties.SMEMAFlipBoardEvent.Subjects[0]">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </section>
</form>

