@model MultiPlug.Base.Http.EdgeApp

@functions
{
    string isCurrentLoggingLevel(int theLevel)
    {
        return (@Model.Extension.Model.LoggingLevel == theLevel) ? "selected" : "";
    }

    string isEnabled(bool theValue)
    {
        return (theValue) ? "checked" : string.Empty;
    }

}

<form action="" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="Guid" value="@Model.Extension.Model.Guid">
    <section class="row-fluid">

        <div class="row-fluid">
            <div class="box">
                <div class="span2">
                    <a style="line-height: 52px;" href="#"><img alt="Hermes Logo" src="@Raw(Model.Context.Paths.Assets)images/SMEMA-small.png"></a>
                </div>
                <div class="span8">
                    <p style="font-size:26px; line-height: 54px; text-align: center; margin: 0px;">Lane</p>
                </div>
                <div class="span2" style="text-align: right;">
                    <a class="btn btn-black" style="height:44px; width:35px" href="@Raw(Model.Context.Paths.Home)"><i class="icon-arrow-left icon-large"></i><p>Back</p></a>
                    <button type="submit" value="submit" style="height:54px; width:65px" class="item btn btn-green"><i class="icon-save icon-large"></i><p>Save</p></button>
                </div>
            </div>
        </div>

        @Include("MultiPlug.Ext.SMEMA.SMEMA_Settings_Navigation")

        <div class="box">

            <h4>Equipment Identification</h4>
            <div class="row-fluid">
                <div class="well">
                    <div class="control-group form-horizontal">
                        <label class="control-label" for="inputMachineID">Machine ID</label>
                        <div class="controls">
                            <input type="text" autocomplete="off" id="inputMachineID" name="MachineId" placeholder="Machine ID" value="@Model.Extension.Model.MachineId">
                        </div>
                    </div>
                    <div class="control-group form-horizontal">
                        <label class="control-label" for="inputLaneID">Lane ID</label>
                        <div class="controls">
                            <input type="text" autocomplete="off" id="inputLaneID" name="LaneId" placeholder="Lane ID" value="@Model.Extension.Model.LaneId">
                        </div>
                    </div>
                </div>
            </div>

            <h4>Equipment Setup</h4>
            <div class="row-fluid">
                <div class="well">
                    <div class="control-group form-horizontal">
                        <label class="control-label" for="inputLaneID">Right to Left</label>
                        <div class="controls">
                            <input name="RightToLeft" type="checkbox" @isEnabled(Model.Extension.Model.RightToLeft)>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="box-header">Logging</h3>
        <div class="box">
            <h4>Level</h4>
            <div class="row-fluid">
                <div class="well">
                    <div class="row-fluid">
                        <select name="LoggingLevel">
                            <option value="0" @isCurrentLoggingLevel(0)>Errors</option>
                            <option value="1" @isCurrentLoggingLevel(1)>Basic</option>
                            <option value="2" @isCurrentLoggingLevel(2)>Verbose</option>
                        </select>
                    </div>
                </div>
            </div>

            <h4>Log</h4>
            <div class="row-fluid">
                <div class="well">
                    <div class="row-fluid">
                        <div class="span12">
                            <textarea id="Logging" spellcheck="false" rows="10" class="input-block-level">@Model.Extension.Model.Log</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</form>

<script>
    function scrollLogToBottom(loggingTextArea) {
        var textarea = document.getElementById(loggingTextArea);
        textarea.scrollTop = textarea.scrollHeight;
    }


    $.connection.wS.on("Send", function (id, Group) {
        var loggingTextArea = $('#Logging');
        loggingTextArea.text(loggingTextArea.text() + Group.Subjects[1].Value + '\n');
        scrollLogToBottom('Logging');
    });

    $(document).ready(function () {
        scrollLogToBottom('Logging');
    });
</script>